body {
	padding: 0;
	margin: 0;
}
/***********************************header***************************/
.header {
	padding: 2em 0 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: -1px;
	background-color: #0d0e18;
}
.navbar__brand {
	display: inline-block;
}
a.logo {
	font-size: 20px;
	text-decoration: none;
    color: #fff !important;
    font-weight: 400;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
a.logo span:first-child {
	width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}
.navbar__items {
	display: inline-block;
	float: right;
}
.navbar__items ul li a {
	display: block;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none !important;
	color: #fff;
	letter-spacing: 2px;
	padding:15px 0 0 25px;
	transition: 0.6s ease;
}
.navbar__items ul {
	position: relative;
}
.navbar__items ul li a:hover {
	color: #001bae;
}
.navbar__items:hover .after__element {
	background-color: #001bae !important;
}
.after__element {
	position: absolute;
	bottom:-5px;
	left: 7%;
	height: 2px;
	width: 15%;
	background-color: #fff;
	transition: .6s ease;
}

/********************************************after header********************************/

.name__carousel {
	height: 100vh;
	width: 100%;
}
.animated__part {
	opacity: 0;
	transform:scale(0.95);
	color: rgba(255,255,255,.6);
	font-weight: 400;
	letter-spacing: 4px;
	transition: 1s ease
}
.animated__part:nth-child(2) {
	position: absolute;
}
.animated__part:first-child {
	transform: translateY(30px);	
}
.animated__part p {
	font-size: 25px;
    line-height: 1.5;
}
.animated__part h1 {
	font-size: 55px;
	color: #fff;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 10px;
}
.move {
	opacity: 1;
	transform: scale(1);
}

/****************************************About*******************************/

.about {
	height: 100vh
}
.about__title {
	position: relative;
	font-size: 2.2em;
	color: #fff;
}
.about__title:after {
	content: '';
	background-color: #001bae;
	height: 2px;
	width: 50%;
	position: absolute;
	left: 0;
	bottom: -10px
}

.skills {
	width: 95%;
	opacity: 0;
	transform: translateY(30px);
	margin-left: auto;
	margin-right: auto;
	transition: .8s ease
}
.skill {
	padding: 15px;
	color: #fff
}

/***************************************work**********************************/
.work {
	height: 100vh
}
.work__title p {
	color: rgba(255,255,255,0.6);
	font-size: 1.6em;
	letter-spacing: 4px;

}
.work__title h2 {
	color: #fff;
	font-size: 2.5em;
	letter-spacing: 3px;
}

.img {
	width: 100%;
	height: 33vh;
	background-image: url('../img/picture.jpg');
	background: rgba(0,0,0);
	background-size: 100%;
	background-position: center;
	border-radius: 5px;
	position: relative;
	transition: .8s ease;
}
.opacity__ {
	opacity: 0;
	width: 100%;
	height: 33vh;
	position: absolute;
	background:rgba(0,0,0,.6);
	color: #fff;
	transition: .8s ease;
}
.img:hover {
	background-size: 112%;
}
.img:hover .opacity__ {
	opacity: 1;
}
.projects {
	padding-top: 50px;
	opacity:0;
	transform: translateY(30px);
	transition: 0.8s ease
}
.project {
	padding: 20px
}
.project a {
	text-decoration: none !important;
	color: #fff !important;
}
/***************************************footer*********************************/
.footer {
	height: 100vh;
}
.footer__items {
	padding-top: 16em;
}
a.icon {
	color: rgba(255,255,255,0.4);
	height: 60px;
    width: 60px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    transition: .5s
}
a.icon:hover {
	color: #fff;
}
ul.icons {
	margin-bottom: 3rem;
	transform: translateY(30px);
	transition: .8s ease
}
ul.icons li {
	margin: 0 10px 10px 0;
}
.footer__widget {
	color: rgba(255,255,255,.8);
	line-height: 1.5;
}
.footer__widget a {
	color: #fff !important;
	text-decoration: none;
	font-size: 2em;
}
/***************************************scrollBar****************************/
::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-thumb {
    width: 8px;	
    background-color: #fafafa;	
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border:none;
    background-color: #000;
}


